#!/bin/bash
# Tags
export TAGS="CreatedBy=doronve;CreatedHost=jenkins-server;CreatedDate=20230716_152201"
# Subscription
export SUBSCRIPTION=SUBSCRIPTION
# Generic Name
export GENNAME="amlws-test-02"
# Group Name
export GROUPNAME="amlws-test-02-rg"
# Location
export LOCATION="northeurope"
#NetWork
export SUBNETID="/subscriptions/SUBSCRIPTION/resourceGroups/GROUP/providers/Microsoft.Network/virtualNetworks/VNET/subnets/SUBNET"
# Key Vault
export KVNAME="KEYVAULT"
export KVID="/subscriptions/SUBSCRIPTION/resourceGroups/GROUP/providers/Microsoft.KeyVault/vaults/KEYVAULT"
export KVSKU="Standard"
# Storage Account
export STANAME="amlwstest02sta"
export STASKU="Standard_RAGRS"
#ACR
export ACRNAME="amlwstest02acr"
#AML
export AMLDISPLAY="amlws-test-02-aml"
export AMLNAME="amlws-test-02-aml"
#APP
export APPNAME="amlws-test-02-app"

